 .socialbox {
  padding-top: 10px;
  background-color: transparent;
  color: transparent;
  transition: background-color 1s, color 1s;
  border: 5px
}

.socialbox a{
  text-decoration: none;
  border-bottom: none;
}

.socialbox h6 {
  color: transparent;
}

.socialbox:hover span, .socialbox:hover h6{
  color: white;
  text-shadow: none;
}

.githubbox:hover { background-color: #171515; }
.twitterbox:hover { background-color: #55acee; }
.linkedin:hover { background-color: #0077b5; }
.lastfm:hover { background-color: #d51007; }
.spotify:hover { background-color: #2ebd59; }
.googleplus:hover { background-color: #dc4e41; }
.stack-overflow:hover { background-color: #fe7a15; }
.mail:hover { background-color: #1FA67A; }
.rss:hover { background-color: #f26522}
.steam:hover { background-color: #171a21;}
