table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6em;
  border-collapse: collapse;
	text-align: left;
	width: 80%;
	margin-left: 10%; 
	margin-right: 10%;
	
}

table th {
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid;
}

tr:hover {
  background-color: #ffa;
}

table td {
	padding: 9px 8px 0px 8px;
}
