---
---

$primary-color: #1A237E;
$primary-color: #263238;
$primary-color: #B71C1C;

h1 {
  color: white;
}

table th {
	border-bottom: 2px solid $primary-color;
}

article a {
  color:  $primary-color;
}

header:after {
  /* important */
  background-color: rgba(red($primary-color), green($primary-color), blue($primary-color), 1);
  z-index: -1;
}
