---
layout: page
permalink: /blog/
title: Blog
subtitle: Posts
favicon: favicon-file-text.ico
---

<style>
/* centering grid */
.grid {

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* .grid-item */
.grid-item {
  padding: 10px;
  float: left;
  background: transparent;
  padding: 10px;
  border: 5px solid white;
}

.gi-w1 { width: 200px; }
.gi-w2 { width: 200px; }

.gi-h1 { height: 100px; }
.gi-h2 { height: 150px; }
.gi-h3 { height: 250px; }

.grid-item {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: -webkit-filter 1s ease;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    overflow: hidden;
}

.grid-item:hover{
  -webkit-filter: grayscale(0);
  color: white;
}

.grid-item p {
  color: white;
}

</style>
    

<div id="grid" class="fluid">
  {% for post in site.posts %}
  <div class="grid-item gi-w{% cycle '2', '2', '1', '2', '1' %} gi-h{% cycle '3', '1', '1', '2', '1' %}" style="background-image: url({{ post.featured_image}});"> 
    <p>{{ post.title }}</p>
  </div>
  {% endfor %}
  
  {% for i in (1..20) %}
  <div
    class="grid-item gi-w{% cycle '2', '1', '2', '1' %} gi-h{% cycle '2', '1', '1', '1' %}"
    style="background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&w=500&h=500&txt=image%20for%20post%20{{i}});">
      <p>Title for post {{ i }}</p>
  </div>
  {% endfor %}
  
</div>
      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script>
$(document).ready( function() {
  $('#grid').isotope({
    itemSelector: '.grid-item',
    masonry: {
      columnWidth: 50,
      isFitWidth: true
    }
  });
});
</script>
