---
layout: page
permalink: /blog/
title: Blog
subtitle: Posts
favicon: favicon-file-text.ico
---

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
    <script src="/js/blog.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css" property="stylesheet">
    
    <div class="row" id="inputcontainer">
      <div class="col-md-6">
        <span class="fa fa-lg fa-search icon-shadow"></span>
        <input id="search_box" class="input" placeholder="Search posts">
        <span class="bar"></span>
      </div>
      <div class="col-md-6">
        <span class="fa fa-lg fa-folder-open-o icon-shadow"></span>
        <select id="category_filter" class="input">
          <option value="all">All Categories</option>
          {% for category in site.categories %}
          <option value="{{ category | first | upcase }}">{{ category | first | upcase }}</option>
          {% endfor %}
        </select>
        <span class="bar"></span>
      </div>
    </div>
    
    <div id="grid" class="fluid">
      {% for post in site.posts limit:5 %}
      <a href="{{ post.url }}">
      <div
        class="grid-item gi-h{% cycle 'group 1': '3', '1', '1', '2', '1' %}"
        style="background-image: url({{ post.featured_image }});">
        <p class="name">{{ post.title }}</p>
        <p class="category">{{ post.categories }}</p>
      </div>
      </a>
      {% endfor %}
    </div>
