---
layout: base
favicon: favicon-rocket.ico
---
<header>
  <div class="container post-container">
    {% include navigation.html %}
    <div class="inner-container">
      <h1>{{ site.title }}</h1>
      <h1><small>{{ site.tagline }}</small></h1>
      <div id="console">
        <span class="cursor" id="typed" style="display: inline;">&nbsp;&gt; </span>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container wrapper">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2>What I <span class="red pulse fa fa-heart"></span> to do</h2>
      </div>
      
      <div class="col-md-10 col-md-offset-1">
      
        <div class="col-md-3 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-code icon-shadow"></span></p>
            <h3>Write Code</h3>
          </div>
          <span class="bar"></span>
        </div>
        <div class="col-md-3 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-area-chart icon-shadow"></span></p>
            <h3>Visualize</h3>
          </div>
          <span class="bar"></span>  
        </div>
        <div class="col-md-3 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-database icon-shadow"></span></p>
            <h3>Analyze</h3>
          </div>
          <span class="bar"></span>  
        </div>
        <div class="col-md-3 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-github icon-shadow"></span></p>
            <h3>Share Code</h3>
          </div>
          <span class="bar"></span>  
        </div>
        
      </div>
      
      <div class="col-md-12 text-right">
        <p><a href="/about/" class="internallink thunder">
          Know more <span class="fa fa-angle-double-right"></span></a>
        </p>
      </div>
    </div>
    
    <br>
    <hr>
    <br>
    
    <div class="row">
      
      <div class="col-md-12 text-center">
        <h2>Some Projects and <span class="fa fa-code"></span></h2>
      </div>
      
      <div class="col-md-10 col-md-offset-1">
        
        <div class="col-md-3 text-center">
          <h3>Highcharter</h3>
          <a href="http://jkunst.com/highcharter/" target="_blank">
          <img src="/images/projects/highcharter.jpg" alt="highcharter R package" style="max-width: 80%;" />
          </a>
          <span class="bar"></span>
        </div>
        <div class="col-md-3 text-center">
          <h3>Riskr</h3>
          <a href="http://jkunst.com/riskr/" target="_blank">
          <img src="/images/projects/riskr.jpg" alt="risk R package" style="max-width: 80%;" />
          </a>
          <span class="bar"></span>
        </div>
        <div class="col-md-3 text-center">
          <h3>rchess</h3>
          <a href="http://jkunst.com/rchess" target="_blank">
            <img src="/images/projects/rchess.jpg" alt="rchess R package" style="max-width: 80%;" />
          </a>
          <span class="bar"></span>  
        </div>
        <div class="col-md-3 text-center">
          <h3>d3-waffle</h3>
          <a href="http://jkunst.com/d3-waffle/" target="_blank">
            <img src="/images/projects/d3waffle.jpg" alt="d3-waffle plugin" style="max-width: 80%;" />
          </a>
          <span class="bar"></span>  
        </div>
        
      </div>

      <div class="col-md-12 text-right">
        <p><a href="/projects/" class="internallink thunder">
          View more <span class="fa fa-angle-double-right"></span></a>
          </p>
      </div>
    </div>
    
    <br>
    <hr>
    <br>    
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>From the blog</h2>
      </div>
      {% for post in site.posts limit:4 %}
      <div class="col-md-10 col-md-offset-1 postlinkcontainer">
        <a href="{{ post.url }}" class="postlink internallink">
          <h3>{{ post.title }}<span class="pull-right">{{ post.date | date: "%B %Y" }}</span></h3>
        </a>
        <span class="bar"></span>
      </div>
      {% endfor %}  
      <div class="col-md-12 text-right">
        <p><a href="/blog/" class="internallink thunder">View more <span class="fa fa-angle-double-right"></span></a></p>
      </div>
    </div>
    
    <div class="push"></div>
  </div>
  {% include footer.html %}
  <script src="/js/typed.custom.js"></script>
  <script src="/js/index.js"></script>
</article>
