---
layout: base
favicon: favicon-rocket.ico
title: Welcome
---
<header>
  <div class="container post-container">
    {% include navigation.html %}
    <div class="inner-container">
      <h1>{{ site.title }}</h1>
      <h1><small>{{ site.tagline }}</small></h1>
      <div id="console">
        <span class="cursor" id="typed" style="display: inline;">&nbsp;&gt; </span>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container wrapper">
    
    <h3>Posts</h3>
    {% for post in site.posts %}
    <div> 
      <p>{{ post.title }}</p>
    </div>
    {% endfor %}

    <div class="push"></div>
  </div>
  {% include footer.html %}
  <script src="/js/typed.custom.js"></script>
  <script src="/js/index.js"></script>
</article>
