    
  <footer>
      <div class="row">
        <div class="col-md-4 text-left">
          Joshua Kunst {{ site.time | date: '%Y' }} <span class="fa fa-creative-commons"></span>
        </div>
         <div class="col-md-4 text-center">
          <span class="fa fa-pencil"></span> with <span class="red pulse fa fa-heart"></span> &
          <span class="fa fa-coffee"></span>.
          <a href ="https://github.com/jbkunst/jbkunst.github.io">
            <span class="fa fa-code"></span> in <span class="fa fa-github-alt"></span>
          </a>
        </div>
         <div class="col-md-4 text-right">
          <a href ="https://twitter.com/jbkunst"><span class="thunder fa fa-twitter"></span></a>
          <a href ="https://cl.linkedin.com/in/joshuakunst"><span class="thunder fa fa-linkedin"></span></a>
          <a href ="https://plus.google.com/+JoshuaKunst"><span class="thunder fa fa-google-plus"></span></a>
          <a href ="https://github.com/jbkunst/"><span class="thunder fa fa-github-alt"></span></a>
        </div>
      </div>
  </footer>
  <!--
  <div id="fade"></div>
  -->
