    
  <footer>
      <div class="row">
        <div class="col-md-4 text--left">
          Joshua Kunst {{ site.time | date: '%Y' }} <span class="fa fa-copyright"></span>
        </div>
         <div class="col-md-4 text-center">
          <span class="fa fa-pencil"></span> with <span class="red pulse fa fa-heart"></span> &
          <span class="fa fa-coffee"></span>. <span class="fa fa-code"></span> in <span class="octicon octicon-octoface"></span>
        </div>
         <div class="col-md-4 text-right">
          Find me on
          <span class="fa fa-twitter"></span>
          <span class="fa fa-linkedin"></span>
          <span class="fa fa-google-plus"></span>
          <span class="octicon octicon-octoface"></span>
        </div>
      </div>
  </footer>
  <!--
  <div id="fade"></div>
  -->
