
    <ul class="navigation">
      <li>
        <a href="{{ site.baseurl }}/">
          <span class="thunder">home</span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/projects/">
          <span class="thunder">Projects</span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog/">
          <span class="thunder">Blog</span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/about/">
          <span class="thunder">about</span>
        </a>
      </li>
    </ul>
