<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta name="google-site-verification" content="MvnZ5grhwdu7l70MYdNy40oBycvz1npDyHMutYQ0hoY" />
  <meta name="description" content="Statistics, code and data"/>
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Joshua Kunst"/>
  <meta name="keywords" content="Joshua Kunst, jbkunst, jkunst, r-project, r-cran, r, statistics, django, python,
  programming, data mining, data visualization, datascience, data"/>
  <meta name="theme-color" id="theme-color" content="#4285f4">
  
  <title>&middot; Jkunst &middot; {{ page.title }}</title>
  <link rel="shortcut icon" href="/images/favicon/{{ page.favicon }}" type="image/x-icon" />
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/grid.bootstrap.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%7CRoboto+Condensed:300">
  <style>body { opacity: 0; } header { background-color: white; }</style>
  
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  
  <!-- Jquery & D3js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>
<body>
  {{ content }}
  <!-- Custom JS -->
  <script src="/js/main.js"></script>
  <script src="/js/ga.js"></script>
</body>
</html>


