---
layout: base
---
<header>
  <div class="container post-container">
    <ul class="navigation">
      <li>
        <a href="{{ site.baseurl }}/">
          <!--<i class="fa fa-home fa-3x faa-shake animated-hover"></i>-->
          <span class=" faa-shake animated-hover">home</span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">
          <span class=" faa-shake animated-hover">about</span>
          <!--<i class="fa fa-question fa-3x faa-shake animated-hover"></i>-->
        </a>
      </li>
    </ul>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
             <i class="fa fa-calendar"></i>
          </span>
          {{ page.date | date: "%B %Y" }}
        </li>
        <br>
        <li>
          <span>
            <i class="fa fa-archive"></i>
          </span>
          {{ page.categories }}
        </li>
      </ul>      
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
      <li class="previous">
        <a href="{{ site.baseurl }}{{ page.previous.url }}">
          <span class="faa-horizontal animated-hover">
            <i class="fa fa-angle-double-left faa-horizontal animated-hover"></i>
            previous
          </span> 
        </a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          <span class="faa-horizontal animated-hover">
            next
            <i class="fa fa-angle-double-right faa-horizontal animated-hover"></i>
          </span> 
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    <img src="{{ site.baseurl }}{{ page.featured_image }}" style="width: 20%">
    {{ content }}
  </div>
  <div id="fade"></div> 
</article>
<script>
  

</script>
