---
layout: base
favicon: favicon-pencil.ico
---
<header>
  <div class="container post-container">
    {% include navigation.html %}
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
             <span class="fa fa-calendar"></span>
          </span>
          {{ page.date | date: "%B %Y" }}
        </li>
        <li>
          <span>
            <span class="fa fa-folder-open-o"></span>
          </span>
          {{ page.categories }}
        </li>
        <li>
          <span>
            <span class="fa fa-comments"></span>
          </span>
          <span id="ncomments">0</span> comment(s)
        </li>
      </ul>      
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
      <li class="previous">
        <a href="{{ site.baseurl }}{{ page.previous.url }}">
          <span class="horizontal">
            <span class="fa fa-angle-double-left"></span>
            previous
          </span> 
        </a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          <span class="horizontal">
            next
            <span class="fa fa-angle-double-right"></span>
          </span> 
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>
<article>
  <div class="container wrapper post">
    {{ content }}
    {% include disqus.html %}
    <div class="push"></div>
  </div>
  {% include footer.html %}
</article>
